Source: libnss-nonlocal
Section: debathena/libs
Priority: optional
Maintainer: Debian-Athena Project <debathena@mit.edu>
Standards-Version: 3.7.2
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), libtool, automake1.9, autoconf

Package: libnss-nonlocal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nsswitch proxy module to prevent local account spoofing
 This nsswitch module acts as a proxy for other nsswitch modules like 
 hesiod, but prevents non-local users from potentially gaining local 
 privileges by spoofing local UIDs and GIDs.
