#!/usr/bin/make -f

DEB_AUTO_UPDATE_AUTOCONF = 2.50
DEB_AUTO_UPDATE_AUTOHEADER = 2.50
DEB_AUTO_UPDATE_AUTOMAKE = 1.9
DEB_AUTO_UPDATE_ACLOCAL = 1.9
DEB_AUTO_UPDATE_LIBTOOL = pre

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_PREFIX = /

debian/stamp-autotools-files: DEB_AUTO_UPDATE_AUTOMAKE += --foreign --add-missing

debian/stamp-autotools-files: aclocal.m4
aclocal.m4:
	touch $@

clean::
	rm -f aclocal.m4 config.guess config.sub install-sh ltmain.sh \
	    configure config.h.in missing depcomp Makefile.in
