#!/usr/bin/make -f

DEB_AUTO_UPDATE_AUTOCONF = 2.61
DEB_AUTO_UPDATE_AUTOHEADER = 2.61
DEB_AUTO_UPDATE_AUTOMAKE = 1.10
DEB_AUTO_UPDATE_ACLOCAL = 1.10
DEB_AUTO_UPDATE_LIBTOOL = pre

# dh_buildinfo fails at multiarch: http://bugs.debian.org/620104
CDBS_BUILD_DEPENDS_rules_debhelper_buildinfo =

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DESTDIR = $(CURDIR)/debian/tmp/
DEB_DH_INSTALL_SOURCEDIR = $(DEB_DESTDIR)
DEB_CONFIGURE_PREFIX = /

ifneq ($(DEB_HOST_MULTIARCH),)
    CDBS_BUILD_DEPENDS := $(CDBS_BUILD_DEPENDS)
    export DH_COMPAT = 9
    DEB_CONFIGURE_EXTRA_FLAGS += $(MULTIARCH_CONFIGURE_FLAGS)
    MULTIARCH_CONFIGURE_FLAGS = --libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)'
    DEB_DH_GENCONTROL_ARGS_libnss-nonlocal += -- -DMulti-Arch=same
endif

IS_UBUNTU := $(if $(filter Ubuntu,$(shell lsb_release -is)),y)
LIBC6_VERSION := $(shell dpkg-query --showformat='$${Version}' --show libc6)
libc6_ge = $(shell dpkg --compare-versions '$(LIBC6_VERSION)' ge '$(1)' && echo y)

debian/stamp-autotools-files: DEB_AUTO_UPDATE_AUTOMAKE += --foreign --add-missing

debian/stamp-autotools-files: aclocal.m4
aclocal.m4:
	touch $@

DEB_BUILDDIR = $(or $(DEB_BUILDDIR_$(cdbs_curpkg)),debian/build)

REAL_DEB_HOST_GNU_TYPE := $(DEB_HOST_GNU_TYPE)

DEB_BUILDDIR_lib32nss-nonlocal = debian/build_32
cleanbuilddir/lib32nss-nonlocal:: clean/lib32nss-nonlocal
configure/lib32nss-nonlocal:: MULTIARCH_CONFIGURE_FLAGS =
configure/lib32nss-nonlocal:: cdbs_crossbuild =
# i386_configure_target in eglibc/debian/sysdeps/amd64.mk
ifeq ($(or $(IS_UBUNTU),$(call libc6_ge,2.8+20080809)),y)
configure/lib32nss-nonlocal:: DEB_BUILD_GNU_TYPE = i686-linux
else
configure/lib32nss-nonlocal:: DEB_BUILD_GNU_TYPE = i486-linux
endif
# i386_CC in eglibc/debian/sysdeps/amd64.mk
configure/lib32nss-nonlocal:: CC += -m32
# i386_slibdir in eglibc/debian/sysdeps/amd64.mk
ifeq ($(or $(IS_UBUNTU),$(call libc6_ge,2.9-14~)),y)
configure/lib32nss-nonlocal:: DEB_CONFIGURE_EXTRA_FLAGS += --libdir="\$${prefix}/lib32"
binary-install/lib32nss-nonlocal:: DEB_DH_INSTALL_ARGS = 'lib32/*'
else
configure/lib32nss-nonlocal:: DEB_CONFIGURE_PREFIX = /emul/ia32-linux
binary-install/lib32nss-nonlocal:: DEB_DH_INSTALL_ARGS = 'emul/ia32-linux/lib/*'
endif

DEB_BUILDDIR_lib64nss-nonlocal = debian/build_64
cleanbuilddir/lib64nss-nonlocal:: clean/lib64nss-nonlocal
configure/lib64nss-nonlocal:: MULTIARCH_CONFIGURE_FLAGS =
configure/lib64nss-nonlocal:: cdbs_crossbuild =
# amd64_configure_target in eglibc/debian/sysdeps/i386.mk
configure/lib64nss-nonlocal:: DEB_BUILD_GNU_TYPE = x86_64-linux
# amd64_CC in eglibc/debian/sysdeps/i386.mk
configure/lib64nss-nonlocal:: CC += -m64 -D__x86_64__
# amd64_slibdir in eglibc/debian/sysdeps/i386.mk
configure/lib64nss-nonlocal:: DEB_CONFIGURE_EXTRA_FLAGS += --libdir="\$${prefix}/lib64"

# Fix for CDBS ≥ 0.4.59ubuntu4, < 0.4.83ubuntu1 (karmic and lucid).
configure/lib32nss-nonlocal configure/lib64nss-nonlocal:: DEB_CONFIGURE_SCRIPT_ENV += CC="$(CC)"

configure/lib32nss-nonlocal configure/lib64nss-nonlocal::
	$(DEB_CONFIGURE_INVOKE) $(cdbs_configure_flags) $(DEB_CONFIGURE_EXTRA_FLAGS) $(DEB_CONFIGURE_USER_FLAGS)

build/lib32nss-nonlocal build/lib64nss-nonlocal::
	+$(DEB_MAKE_INVOKE) $(DEB_MAKE_BUILD_TARGET)

install/lib32nss-nonlocal install/lib64nss-nonlocal::
	+$(DEB_MAKE_INVOKE) $(DEB_MAKE_INSTALL_TARGET)

clean/lib32nss-nonlocal clean/lib64nss-nonlocal::
	+-$(DEB_MAKE_INVOKE) -k $(DEB_MAKE_CLEAN_TARGET)

clean::
	rm -f aclocal.m4 config.guess config.sub install-sh ltmain.sh \
	    configure config.h.in missing depcomp Makefile.in
